{% extends 'base.html' %} {% block content %}
<section class="section mt-0 pt-3">
  <div class="container">
    <div class="columns is-1">
      <div class="column is-full p-0">
        <div class="card">
          <div class="card-content p-5 is-desktop">
            <div class="title">
              <a
                href="/post/100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi"
              >
                {{ post.title }}
              </a>
            </div>
            <div class="content is-size-5 mt-5">
              {{ post.content }}
            </div>
            <hr />
            <div class="notification is-warning" style="display: none">
              <button
                class="delete"
                onclick="document.querySelector('.notification').style.display='none'"
              ></button>
              <div class="subtitle" id="message"></div>
            </div>
            <p class="is-right"></p>
            <div class="columns">
              <div class="column is-8">
                Tags {% for tag in post.tags.objects.all %}

                <span class="tag is-small m-1">
                  <i class="{{ tag.icon }} text-blue"></i>
                  <a href="{% url 'tag' tag.slug %}"> {{tag.name}} </a>
                </span>

                {% endfor %}
                <br />
                Muallif :
                <span class="text-blue"><a href="#">{{ post.author }}</a></span>
                <div class="icon-text mt-1">
                  <span>Ko'rildi</span>
                  <span class="icon has-text-link">
                    <i class="fas fa-eye"></i>
                  </span>
                  <span>3 marta</span>
                </div>
                <div class="icon-text mt-1">
                  <span>Bidirilgan fikrlar</span>
                  <span class="icon has-text-link">
                    <i class="fas fa-comments"></i>
                  </span>
                  <span>{{ post.likes }} ta</span>
                </div>
              </div>
              <div class="column is-4">
                <span class="tag is-size-4 mb-2">
                  <b class="pr-1"
                    >Yoqdi
                    <i class="fas fa-heart text-orange"></i>
                    <span id="ups">{{ post.dislikes }}</span></b
                  >
                </span>

                <span class="tag is-size-4 mt-2">
                  <b class="pr-1"
                    >Bug
                    <i class="fas fa-bug text-blue"></i>
                    <span id="downs">0</span></b
                  >
                </span>
              </div>
            </div>
            <hr />

            <!-- data-href='http://localhost:8000/post/100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi' -->
            <div class="subtille">
              Ulashish <i class="fas fa-level-down-alt"></i>
            </div>
            <div
              class="fb-share-button fb_iframe_widget"
              data-href="https://pyblog.uz/post/100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi"
              data-layout="button"
              data-size="large"
              fb-xfbml-state="rendered"
              fb-iframe-plugin-query="app_id=854928168409762&amp;container_width=1128&amp;href=https%3A%2F%2Fpyblog.uz%2Fpost%2F100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi&amp;layout=button&amp;locale=ru_RU&amp;sdk=joey&amp;size=large"
            >
              <span style="vertical-align: bottom; width: 119px; height: 28px"
                ><iframe
                  name="f257c6cfcde9f4"
                  width="1000px"
                  height="1000px"
                  data-testid="fb:share_button Facebook Social Plugin"
                  title="fb:share_button Facebook Social Plugin"
                  frameborder="0"
                  allowtransparency="true"
                  allowfullscreen="true"
                  scrolling="no"
                  allow="encrypted-media"
                  src="https://www.facebook.com/v12.0/plugins/share_button.php?app_id=854928168409762&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2a23a947e353a%26domain%3Dpyblog.uz%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fpyblog.uz%252Fff9289a0d56a94%26relation%3Dparent.parent&amp;container_width=1128&amp;href=https%3A%2F%2Fpyblog.uz%2Fpost%2F100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi&amp;layout=button&amp;locale=ru_RU&amp;sdk=joey&amp;size=large"
                  style="
                    border: none;
                    visibility: visible;
                    width: 119px;
                    height: 28px;
                  "
                  class=""
                ></iframe
              ></span>
            </div>
            <iframe
              id="telegram-share-aHR0cHM6Ly9weWJsb2cudXovcG9zdC8xMDAtdGEtZW5nLXlheHNoaS12ZWItZGl6YXluLXZvc2l0YWxhcmktc3RvY2stcmFzbWxhci0xMC10YWxpZ2k="
              src="https://t.me/share/embed?origin=https%3A%2F%2Fpyblog.uz&amp;telegram-share-url=https%3A%2F%2Fpyblog.uz%2Fpost%2F100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi&amp;size=large"
              width="76"
              height="28"
              frameborder="0"
              scrolling="no"
              style="overflow: hidden; border: none"
            ></iframe>
            <script
              async=""
              src="https://telegram.org/js/telegram-widget.js?15"
              data-telegram-share-url="https://pyblog.uz/post/100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi"
              data-size="large"
            ></script>
            <p></p>
          </div>

          <footer class="card-footer">
            <a
              class="card-footer-item"
              id="up"
              onclick="PostUpDownQuery(84,'up')"
            >
              <span class="button bg-orange">
                <i class="fas fa-thumbs-up is-size-4 text-blue"></i>
              </span>
            </a>

            <a
              class="card-footer-item"
              id="down"
              onclick="PostUpDownQuery(84,'down')"
            >
              <span class="button bg-blue">
                <i class="fas fa-thumbs-down is-size-4 text-orange"></i>
              </span>
            </a>
          </footer>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-full">
        <div class="card mt-5">
          <header class="card-header">
            <p class="card-header-title">Bildirilgan fikrlar (0) ta</p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <div class="card-content p-0">
            <div class="notification is-info" id="notf" style="display: none">
              <button
                class="delete"
                onclick="document.querySelector('#notf').style.display='none'"
              ></button>
              Hozircha ushbu maqolaga fikrlar bildirilmagan, siz birinchi
              bo'lishingiz mumkin!
            </div>
          </div>
        </div>
        <div class="card mt-5">
          <header class="card-header">
            <p class="card-header-title">Firk bildirish formasi</p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <div class="card-content">
            <div class="columns">
              <div class="column is-6">
                <form action="#" method="POST">
                  <div class="field">
                    <label class="label">Ism</label>
                    <div class="control">
                      <input
                        type="text"
                        name="name"
                        class="input"
                        maxlength="50"
                        required=""
                        id="id_name"
                      />
                      <input
                        type="hidden"
                        name="csrfmiddlewaretoken"
                        value="Wd41EY2kHpkSIvNGqaXqt7JzlmPRSsP698VB80uEZjaMNQDZgKJPzLqcfSj7ML5f"
                      />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                      <input
                        type="email"
                        name="email"
                        class="input"
                        maxlength="100"
                        required=""
                        id="id_email"
                      />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Fikr matni</label>
                    <div class="control">
                      <textarea
                        name="message"
                        cols="40"
                        rows="5"
                        class="textarea"
                        maxlength="250"
                        required=""
                        id="id_message"
                      ></textarea>
                    </div>
                  </div>

                  <div class="field is-grouped">
                    <div class="control">
                      <button type="submit" class="button is-link">
                        Fikr bildirish
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="column is-6">
                <div class="title mt-5">Foydali teglar</div>
                <div class="menu">
                  <ul id="banner_tags">
                    <li class="tag is-success">
                      <a href="/tag/python/">Python</a>
                    </li>

                    <li class="tag is-black">
                      <a href="/tag/javascript/">Javascript</a>
                    </li>

                    <li class="tag is-link">
                      <a href="/tag/data-base/">Data Base</a>
                    </li>

                    <li class="tag is-success">
                      <a href="/tag/fron-end/">Fron-End</a>
                    </li>

                    <li class="tag is-black">
                      <a href="/tag/back-end/">Back-End</a>
                    </li>

                    <li class="tag is-success">
                      <a href="/tag/dasturlash/">Dasturlash</a>
                    </li>

                    <li class="tag is-danger">
                      <a href="/tag/veb-dizayn/">Veb dizayn</a>
                    </li>

                    <li class="tag is-black">
                      <a href="/tag/umumiy/">Umumiy</a>
                    </li>

                    <li class="tag is-dark"><a href="/tag/css/">CSS</a></li>

                    <li class="tag is-black"><a href="/tag/html/">HTML</a></li>

                    <li class="tag is-success">
                      <a href="/tag/tarmoq/">Tarmoq</a>
                    </li>

                    <li class="tag is-black">
                      <a href="/tag/xavfsizlik/">Xavfsizlik</a>
                    </li>

                    <li class="tag is-info">
                      <a href="/tag/kompyuter/">Kompyuter</a>
                    </li>

                    <li class="tag is-dark">
                      <a href="/tag/django/">Django</a>
                    </li>

                    <li class="tag is-black">
                      <a href="/tag/linux/">Linux</a>
                    </li>

                    <li class="tag is-dark"><a href="/tag/macos/">MacOS</a></li>

                    <li class="tag is-black">
                      <a href="/tag/windows/">Windows</a>
                    </li>

                    <li class="tag is-black">
                      <a href="/tag/maslahat/">Maslahat</a>
                    </li>

                    <li class="tag is-link">
                      <a href="/tag/it-ga-oid/">IT ga oid</a>
                    </li>

                    <li class="tag is-dark">
                      <a href="/tag/foydali/">Foydali</a>
                    </li>

                    <li class="tag is-black">
                      <a href="/tag/tutorial/">Tutorial</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
