{% extends 'base.html' %} {% block content %}
<section class="section first-section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="center">
          <div class="title is-size-2">
            Katta dasturlarda katta<br />
            <span class="text-blue">qotishlar </span>bo'ladi .

            <i class="fas fa-face-flushed text-orange"></i>
          </div>
          <div class="subtitle mt-5">
            <span class="has-text-warning is-uppercase has-text-weight-bold"
              >py</span
            ><span class="has-text-info is-uppercase has-text-weight-bold"
              >blog</span
            >
            sizga Python hamda dasturlashga oid maslahatlar beradi !
          </div>
          <div class="mt-5">
            <div class="subtitle">Bizni ijtimoiy tarmoqlarda ham kuzating.</div>
            <a
              href="https://t.me/pybloguz"
              class="button bg-blue has-text-white"
            >
              <span class="icon">
                <i class="fab fa-telegram"></i>
              </span>
              <span>Telegram</span>
            </a>
            <a
              href="https://www.facebook.com/pybloguz"
              class="button bg-orange has-text-info"
            >
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span>
              <span>Facebook</span>
            </a>
            <a
              href="https://www.instagram.com/pyblog.uz/"
              class="button bg-blue has-text-white"
            >
              <span class="icon">
                <i class="fab fa-instagram"></i>
              </span>
              <span>Instagram</span>
            </a>
          </div>
        </div>
      </div>
      <div class="column is-5">
        <div class="title text-blue">Foydali teglar</div>
        <div class="menu">
          <ul id="banner_tags">
            <li class="tag is-link">
              <a href="/tag/python/"> <i class="fab fa-python"></i> Python </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/javascript/">
                <i class="fab fa-js"></i> Javascript
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/data-base/">
                <i class="fas fa-database"></i> Data Base
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/fron-end/">
                <i class="fas fa-palette"></i> Fron-End
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/back-end/">
                <i class="fas fa-cogs"></i> Back-End
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/dasturlash/">
                <i class="fas fa-terminal"></i> Dasturlash
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/veb-dizayn/">
                <i class="fas fa-bezier-curve"></i> Veb dizayn
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/umumiy/">
                <i class="fas fa-globe-americas"></i> Umumiy
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/css/"> <i class="fab fa-css3"></i> CSS </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/html/"> <i class="fab fa-html5"></i> HTML </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/tarmoq/">
                <i class="fas fa-network-wired"></i> Tarmoq
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/xavfsizlik/">
                <i class="fas fa-user-secret"></i> Xavfsizlik
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/kompyuter/">
                <i class="fas fa-desktop"></i> Kompyuter
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/django/"> <i class="fab fa-python"></i> Django </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/linux/"> <i class="fab fa-linux"></i> Linux </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="polka">
  <div class="">
    <div class="columns is-3">
      <div class="column is-full box">
        <nav class="breadcrumb p-2" aria-label="breadcrumbs">
          <ul>
            <li class="m-1">
              <a href="/category/python/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fab fa-python" aria-hidden="true"></i>
                </span>
                <span>Python</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/javascript/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fab fa-js" aria-hidden="true"></i>
                </span>
                <span>Javascript</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/dasturlash/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fas fa-terminal" aria-hidden="true"></i>
                </span>
                <span>Dasturlash</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/veb-dasturlash/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fas fa-code" aria-hidden="true"></i>
                </span>
                <span>Veb dasturlash</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/foundation/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fas fa-cat" aria-hidden="true"></i>
                </span>
                <span>Foundation</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/boshqa/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fas fa-info" aria-hidden="true"></i>
                </span>
                <span>Boshqa</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="columns is-1">
      <div class="column is-9">
        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="/post/pythonda-imlo-xatolarini-tuzatish-dasturi">
                <img
                  src="/pybloguz/media/posters/2022-06-11/correcttext.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/pythonda-imlo-xatolarini-tuzatish-dasturi">
                Pythonda imlo xatolarini tuzatish dasturi
              </a>
            </div>
            <div class="content">
              <p>
                Ushbu maqolada biz Python yordamida so'zlar va jumlalarning
                imlosini qanday tuzatishni o'rganamiz.<br />
                Albatta barcha to'g'rlanishi mumkin bo'lgan so'zlar va …
              </p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fab fa-python text-blue"></i>
                <a href="/tag/python/">Python</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-terminal text-blue"></i>
                <a href="/tag/dasturlash/">Dasturlash</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-globe-americas text-blue"></i>
                <a href="/tag/umumiy/">Umumiy</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-bullhorn text-blue"></i>
                <a href="/tag/maslahat/">Maslahat</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-star text-blue"></i>
                <a href="/tag/tutorial/">Tutorial</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 1 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  0</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a
                href="/post/100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi"
              >
                <img
                  src="/pybloguz/media/posters/2022-06-11/photos.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a
                href="/post/100-ta-eng-yaxshi-veb-dizayn-vositalari-stock-rasmlar-10-taligi"
              >
                100 ta eng yaxshi veb-dizayn vositalari: Stock rasmlar 10 taligi
              </a>
            </div>
            <div class="content">
              <p>
                Ishlash va o'qishga yordam beradigan foydali veb-dizayn
                havolalari: tipografiya, stok fotosuratlari va grafikalar,
                infografika, hamkorlik vositalari, logotip dizayni va
                prototiplash, …
              </p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fas fa-palette text-blue"></i>
                <a href="/tag/fron-end/">Fron-End</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-bezier-curve text-blue"></i>
                <a href="/tag/veb-dizayn/">Veb dizayn</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-bullhorn text-blue"></i>
                <a href="/tag/maslahat/">Maslahat</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/it-ga-oid/">IT ga oid</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 2 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  0</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a
                href="/post/100-ta-eng-yaxshi-veb-dizayn-vositalari-fontlar-10-taligi"
              >
                <img
                  src="/pybloguz/media/posters/2022-06-11/fontlar.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a
                href="/post/100-ta-eng-yaxshi-veb-dizayn-vositalari-fontlar-10-taligi"
              >
                100 ta eng yaxshi veb-dizayn vositalari: Fontlar 10 taligi
              </a>
            </div>
            <div class="content">
              <p>
                Ishlash va o'qishga yordam beradigan foydali veb-dizayn
                havolalari: tipografiya, stok fotosuratlari va grafikalar,
                infografika, hamkorlik vositalari, logotip dizayni va
                prototiplash, …
              </p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fas fa-palette text-blue"></i>
                <a href="/tag/fron-end/">Fron-End</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-bezier-curve text-blue"></i>
                <a href="/tag/veb-dizayn/">Veb dizayn</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-bullhorn text-blue"></i>
                <a href="/tag/maslahat/">Maslahat</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/it-ga-oid/">IT ga oid</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 2 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  0</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="/post/python-yordamida-pdf-fayllarini-birlashtirish">
                <img
                  src="/pybloguz/media/posters/2022-06-09/pdffiles.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/python-yordamida-pdf-fayllarini-birlashtirish">
                Python yordamida PDF fayllarini birlashtirish
              </a>
            </div>
            <div class="content">
              <p>
                Ushbu qo'llanmada biz Python yordamida PDF-fayllarni qanday
                birlashtirishni o'rganamiz.
              </p>
              <p>
                <br />
                PDF-fayllarni birlashtirish ko'pincha hujjatlarning bir nechta
                sahifalarini skanerlash yoki …
              </p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fab fa-python text-blue"></i>
                <a href="/tag/python/">Python</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-terminal text-blue"></i>
                <a href="/tag/dasturlash/">Dasturlash</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-desktop text-blue"></i>
                <a href="/tag/kompyuter/">Kompyuter</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-star text-blue"></i>
                <a href="/tag/tutorial/">Tutorial</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 5 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  1</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="/post/dark-web-va-darknetlar">
                <img
                  src="/pybloguz/media/posters/2022-06-07/deepweb.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/dark-web-va-darknetlar">
                Dark web va darknet’lar.
              </a>
            </div>
            <div class="content">
              <p>
                <span style="font-family: Calibri"
                  ><span style="font-size: 14, 0000pt"
                    ><span style="font-family: Poppins"
                      ><span style="color: #000000"
                        >Shaharda yashovchi aholi shaharning aynan qayerida
                        kechki sayr qilmagan ma’qulligini yaxshi bilishadi.
                        Jinoiy ishlar ko’pincha harobalar …
                      </span></span
                    ></span
                  ></span
                >
              </p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fas fa-terminal text-blue"></i>
                <a href="/tag/dasturlash/">Dasturlash</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-globe-americas text-blue"></i>
                <a href="/tag/umumiy/">Umumiy</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/tarmoq/">Tarmoq</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-user-secret text-blue"></i>
                <a href="/tag/xavfsizlik/">Xavfsizlik</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-desktop text-blue"></i>
                <a href="/tag/kompyuter/">Kompyuter</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/it-ga-oid/">IT ga oid</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 11 <i class="fas fa-comments"></i> 1
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  4</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="/post/axborotlarni-kodlashtirish-kriptotizim">
                <img
                  src="/pybloguz/media/posters/2022-06-07/crypto.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/axborotlarni-kodlashtirish-kriptotizim">
                Axborotlarni kodlashtirish. Kriptotizim.
              </a>
            </div>
            <div class="content">
              <p style="text-align: left">
                <span style="font-family: Calibri"
                  ><span style="font-size: 14, 0000pt"
                    ><span style="font-family: Poppins"
                      ><span style="color: #000000"
                        >Hozirgi kunda kriptotizimni ikki sinfga ajratish
                        mumkin:</span
                      ></span
                    ></span
                  ></span
                >
              </p>
              <p style="text-align: left">
                <span style="font-family: Calibri"
                  ><span style="font-size: 14, 0000pt"
                    ><span style="font-family: Poppins"
                      ><span style="color: #000000"
                        >-simmetriyali bir kalitlilik …
                      </span></span
                    ></span
                  ></span
                >
              </p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fas fa-globe-americas text-blue"></i>
                <a href="/tag/umumiy/">Umumiy</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-user-secret text-blue"></i>
                <a href="/tag/xavfsizlik/">Xavfsizlik</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-desktop text-blue"></i>
                <a href="/tag/kompyuter/">Kompyuter</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fab fa-linux text-blue"></i>
                <a href="/tag/linux/">Linux</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/it-ga-oid/">IT ga oid</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 6 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  0</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="/post/it-lugat-bilan-tanishamiz-a">
                <img
                  src="/pybloguz/media/posters/2022-06-07/itdict.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/it-lugat-bilan-tanishamiz-a">
                IT lug'at bilan tanishamiz . A.
              </a>
            </div>
            <div class="content">
              <ol>
                <li>
                  <em><strong>ASP (</strong></em
                  >Inglizcha "Application Service Provider" dan<em
                    ><strong>) - </strong></em
                  >bu Internet yoki virtual xususiy tarmoq orqali ilovalarga
                  kirish bilan doimiy to'lovlar …
                </li>
              </ol>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fas fa-globe-americas text-blue"></i>
                <a href="/tag/umumiy/">Umumiy</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-desktop text-blue"></i>
                <a href="/tag/kompyuter/">Kompyuter</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/it-ga-oid/">IT ga oid</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-star text-blue"></i>
                <a href="/tag/tutorial/">Tutorial</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 6 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  0</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="/post/devops-haqida-soragan-edingiz">
                <img
                  src="/pybloguz/media/posters/2022-06-07/devops_u1tvtt9.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/devops-haqida-soragan-edingiz">
                DevOps haqida so'ragan edingiz.
              </a>
            </div>
            <div class="content">
              <p>
                DevOps - bu Development Operations so'zining qisqartmasi .<br />
                Dasturiy ta'minotning ishlab chiqish jarayonlarini boshqarishga
                qaratilgan ishlab chiqishga alohida usul …
              </p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fas fa-terminal text-blue"></i>
                <a href="/tag/dasturlash/">Dasturlash</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-globe-americas text-blue"></i>
                <a href="/tag/umumiy/">Umumiy</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-bullhorn text-blue"></i>
                <a href="/tag/maslahat/">Maslahat</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/it-ga-oid/">IT ga oid</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 24 <i class="fas fa-comments"></i> 1
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  6</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="/post/axborotni-simsiz-uzatish-infraqizil-kanal">
                <img
                  src="/pybloguz/media/posters/2022-06-06/infrared_ywLb27P.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/axborotni-simsiz-uzatish-infraqizil-kanal">
                Axborotni simsiz uzatish. Infraqizil kanal
              </a>
            </div>
            <div class="content">
              <p>
                <strong><strong>Infraqizil kanal </strong></strong>ham simlarsiz
                axborot uzatishni ta‘minlaydi, chunki aloqa
              </p>
              <p>
                uchun infraqizil nurlanish ishlatiladi (televizorlarning
                masofadan boshqarish
              </p>
              <p>qurilmasi kabi). Radio kanalga …</p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fas fa-globe-americas text-blue"></i>
                <a href="/tag/umumiy/">Umumiy</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/tarmoq/">Tarmoq</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-desktop text-blue"></i>
                <a href="/tag/kompyuter/">Kompyuter</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/it-ga-oid/">IT ga oid</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 6 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  1</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="/post/axborotni-simsiz-uzatish-radiokanal">
                <img
                  src="/pybloguz/media/posters/2022-06-06/radiokanal.png"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/axborotni-simsiz-uzatish-radiokanal">
                Axborotni simsiz uzatish. Radiokanal.
              </a>
            </div>
            <div class="content">
              <p style="text-align: left">
                <span style="font-family: 'Times New Roman'"
                  ><strong
                    ><span style="font-size: 14, 0000pt"
                      ><span style="font-family: Poppins"
                        ><span style="color: #000000"
                          ><strong>Radiokanal </strong></span
                        ></span
                      ></span
                    ></strong
                  ><span style="font-size: 14, 0000pt"
                    ><span style="font-family: Poppins"
                      ><span style="color: #000000"
                        ><span style="font-family: Poppins"
                          >– bu usulda axborot uzatish uchun radio
                          to'lqinlaridan …
                        </span></span
                      ></span
                    ></span
                  ></span
                >
              </p>
            </div>
            <p class="is-right">
              Tags
              <span class="tag is-small m-1">
                <i class="fas fa-terminal text-blue"></i>
                <a href="/tag/dasturlash/">Dasturlash</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/tarmoq/">Tarmoq</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-user-secret text-blue"></i>
                <a href="/tag/xavfsizlik/">Xavfsizlik</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-desktop text-blue"></i>
                <a href="/tag/kompyuter/">Kompyuter</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-network-wired text-blue"></i>
                <a href="/tag/it-ga-oid/">IT ga oid</a>
              </span>
              <span class="tag is-small m-1">
                <i class="fas fa-plus text-blue"></i>
                <a href="/tag/foydali/">Foydali</a>
              </span>
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">master</a>
              </span>
              <i class="fas fa-eye"></i> 9 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  1</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  0</b
                >
              </span>
            </footer>
          </div>
        </div>

        <nav class="pagination" role="navigation" aria-label="pagination">
          <a class="pagination-next" href="?page=2"> Keyingi sahifa </a>
          <ul class="pagination-list">
            <li>
              <a
                class="pagination-link is-current"
                href="#"
                aria-label="Page 1"
                aria-current="page"
                >1</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=2"
                aria-label="Page 1"
                aria-current="page"
                >2</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=3"
                aria-label="Page 1"
                aria-current="page"
                >3</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=4"
                aria-label="Page 1"
                aria-current="page"
                >4</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=5"
                aria-label="Page 1"
                aria-current="page"
                >5</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=6"
                aria-label="Page 1"
                aria-current="page"
                >6</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=7"
                aria-label="Page 1"
                aria-current="page"
                >7</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=8"
                aria-label="Page 1"
                aria-current="page"
                >8</a
              >
            </li>
          </ul>
        </nav>
      </div>
      {% endblock %}
