{% extends 'base.html' %} {% block content %}
<section class="section first-section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="center">
          <div class="title is-size-2">
            Katta dasturlarda katta<br />
            <span class="text-blue">qotishlar </span>bo'ladi .

            <i class="fas fa-face-flushed text-orange"></i>
          </div>
          <div class="subtitle mt-5">
            <span class="has-text-warning is-uppercase has-text-weight-bold"
              >py</span
            ><span class="has-text-info is-uppercase has-text-weight-bold"
              >blog</span
            >
            sizga Python hamda dasturlashga oid maslahatlar beradi !
          </div>
          <div class="mt-5">
            <div class="subtitle">Bizni ijtimoiy tarmoqlarda ham kuzating.</div>
            <a
              href="https://t.me/pybloguz"
              class="button bg-blue has-text-white"
            >
              <span class="icon">
                <i class="fab fa-telegram"></i>
              </span>
              <span>Telegram</span>
            </a>
            <a
              href="https://www.facebook.com/pybloguz"
              class="button bg-orange has-text-info"
            >
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span>
              <span>Facebook</span>
            </a>
            <a
              href="https://www.instagram.com/pyblog.uz/"
              class="button bg-blue has-text-white"
            >
              <span class="icon">
                <i class="fab fa-instagram"></i>
              </span>
              <span>Instagram</span>
            </a>
          </div>
        </div>
      </div>
      <div class="column is-5">
        <div class="title text-blue">Foydali teglar</div>
        <div class="menu">
          <ul id="banner_tags">
            <li class="tag is-link">
              <a href="/tag/python/"> <i class="fab fa-python"></i> Python </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/javascript/">
                <i class="fab fa-js"></i> Javascript
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/data-base/">
                <i class="fas fa-database"></i> Data Base
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/fron-end/">
                <i class="fas fa-palette"></i> Fron-End
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/back-end/">
                <i class="fas fa-cogs"></i> Back-End
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/dasturlash/">
                <i class="fas fa-terminal"></i> Dasturlash
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/veb-dizayn/">
                <i class="fas fa-bezier-curve"></i> Veb dizayn
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/umumiy/">
                <i class="fas fa-globe-americas"></i> Umumiy
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/css/"> <i class="fab fa-css3"></i> CSS </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/html/"> <i class="fab fa-html5"></i> HTML </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/tarmoq/">
                <i class="fas fa-network-wired"></i> Tarmoq
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/xavfsizlik/">
                <i class="fas fa-user-secret"></i> Xavfsizlik
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/kompyuter/">
                <i class="fas fa-desktop"></i> Kompyuter
              </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/django/"> <i class="fab fa-python"></i> Django </a>
            </li>

            <li class="tag is-link">
              <a href="/tag/linux/"> <i class="fab fa-linux"></i> Linux </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="polka">
  <div class="">
    <div class="columns is-3">
      <div class="column is-full box">
        <nav class="breadcrumb p-2" aria-label="breadcrumbs">
          <ul>
            <li class="m-1">
              <a href="/category/python/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fab fa-python" aria-hidden="true"></i>
                </span>
                <span>Python</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/javascript/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fab fa-js" aria-hidden="true"></i>
                </span>
                <span>Javascript</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/dasturlash/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fas fa-terminal" aria-hidden="true"></i>
                </span>
                <span>Dasturlash</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/veb-dasturlash/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fas fa-code" aria-hidden="true"></i>
                </span>
                <span>Veb dasturlash</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/foundation/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fas fa-cat" aria-hidden="true"></i>
                </span>
                <span>Foundation</span>
              </a>
            </li>

            <li class="m-1">
              <a href="/category/boshqa/" class="tag is-size-6">
                <span class="icon is-small">
                  <i class="fas fa-info" aria-hidden="true"></i>
                </span>
                <span>Boshqa</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="columns is-1">
      <div class="column is-9">
        {% for post in object_list %}

        <div class="columns is-1 mt-1 box p-0">
          <div class="column is-4 pb-0">
            <div class="image is-5by4">
              <a href="{% url 'post_detail' post.slug  %}">
                <img
                  src="{{ post.poster.url }}"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="column is-8 pb-0">
            <div class="is-size-4 has-text-weight-bold mt-2">
              <a href="/post/pythonda-imlo-xatolarini-tuzatish-dasturi">
                {{ post.title }}
              </a>
            </div>
            <div class="content">
              <p>{{ post.description }}</p>
            </div>
            <p class="is-right">
              Tags {% for tag in post.tags.object.all %}
              <span class="tag is-small m-1">
                <i class="{{ tag.icon }} text-blue"></i>
                <a href="/tag/python/">{{ tag.name }}</a>
              </span>
              {% endfor %}
              <br />
              Muallif :
              <span class="text-blue">
                <a href="#">{{ post.author }}</a>
              </span>
              <i class="fas fa-eye"></i> 1 <i class="fas fa-comments"></i> 0
            </p>
            <footer class="card-footer mt-1 pb-0">
              <span class="card-footer-item is-size-5 mb-2">
                <b class="pr-1"
                  >Yoqdi
                  <i class="fas fa-heart text-orange"></i>
                  {{ post.likes }}</b
                >
              </span>

              <span class="card-footer-item is-size-5 mt-2">
                <b class="pr-1"
                  >Bug
                  <i class="fas fa-bug text-blue"></i>
                  {{ post.dislikes }}</b
                >
              </span>
            </footer>
          </div>
        </div>
        {% endfor %}
        <nav class="pagination" role="navigation" aria-label="pagination">
          <a class="pagination-next" href="?page=2"> Keyingi sahifa </a>
          <ul class="pagination-list">
            <li>
              <a
                class="pagination-link is-current"
                href="#"
                aria-label="Page 1"
                aria-current="page"
                >1</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=2"
                aria-label="Page 1"
                aria-current="page"
                >2</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=3"
                aria-label="Page 1"
                aria-current="page"
                >3</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=4"
                aria-label="Page 1"
                aria-current="page"
                >4</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=5"
                aria-label="Page 1"
                aria-current="page"
                >5</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=6"
                aria-label="Page 1"
                aria-current="page"
                >6</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=7"
                aria-label="Page 1"
                aria-current="page"
                >7</a
              >
            </li>

            <li>
              <a
                class="pagination-link"
                href="?page=8"
                aria-label="Page 1"
                aria-current="page"
                >8</a
              >
            </li>
          </ul>
        </nav>
      </div>
      {% endblock %}
    </div>
  </div>
</section>
